.profile-box {
    grid-area: imagebox;
}

.profile-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto auto;
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
}

.profile-pic {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    text-align: center;

    img{
        width: 65%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2px;
    }

    p:nth-child(1){
        margin: 0px;
        padding: 0px;
        margin-bottom: 5px;
        font-size: 18px;
    }

    p:nth-child(3){
        margin: 0px;
        padding: 0px;
        font-size: 15px;
    }
}

.profile-info  {
    margin: auto;
    margin-top: 10px;

    ul {
        display: flex;
        flex-flow: row wrap;
        font-size: 14px;
        list-style-type: none;
    
        li {
            list-style-type: none;
            width: 100%;

            &:nth-child(odd) {
                font-weight: bold;
                margin-right: 14px;
            }
        }
    }

}

@media (min-width: 950px) { 

    .profile-info > ul {

        li:nth-child(odd) {
            width: 32%;
        }

        li:nth-child(even) {
            width: 60%;
        }
    }
}
