.content {
    background-color: white;
    font-weight: 300;

    & > *{
        margin-left: 10px;
    }

    h1{
        border-bottom: solid 1px grey;
        font-family: 'Linux Libertine','Georgia','Times',serif;
        line-height: 1.3;
        margin-bottom: 0.25em;
        padding: 0;
        font-size: 2em;
        font-weight: 300;
        color: black;
        position: relative;
        margin-bottom: 10px;
    }

    h2{
        font-size: 1.6em;
        margin-bottom: 0px;
        padding: 20px 0 10px 0px;
    }

    p{
        font-size: 1.2em;
        font-weight: 400;
    }

    li{
        font-size: 1.2em;
        font-weight: 400;
    }

    ul{
        padding-left: 15px;
    }

    ol{
        padding-left: 15px;
    }


    img{
        width: 100%;
        height: 100%;
    }

    a.video-link {
        display: block;
        position: relative;
        width: 50%;
        height: auto;

        h2 {
            position: absolute;
            top: 0;
            color: white;
            background-color: rgba(0,0,0,0.7);
            width: 100%;
            font-size: 1rem;
            padding-left: 10px;
        }

        &:after {
                display: block;
                content: url('assets/play-circle-solid.svg');
                width: 50px;
                height: 50px;
                position: absolute;
                top: 45%;
                left: 45%;
                color: white;
                background: white;
                border-radius: 30rem;
        }
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 800px) {

    .content { 

        a.video-link{
            width: 90%;
            height: auto;
        }
    }
}