      <div class="contentbox">
        <div class="table-of-content">
          <p>Contents</p>
          <ol>
            {{collections.navLinks | formatLinks | safe}}
          </ol>
        </div>
      </div>  