  <div class='profile-box'>
    <div class='profile-container'>
      <div class='profile-pic'>
        <p><b>Ryan Creamer</b></p>
        <img src="{{collections.site_data_formatted.headshotFileName | safe}}"/>
      </div>
      <div class='profile-info'>
        {{collections.site_data_formatted.imageBoxText | safe}}
      </div>
    </div>
  </div>