<div class="side">
{% image "assets/uploads/ryanpedia.png", "Ryanpedia logo" %}
  <div>
    <p>Contact Ryan</p>
    <ul>
       <li>
          <a  rel="noopener" target="_blank" href="{{collections.site_data_formatted.emailLink | safe}}">Email</a>
        </li>  
        <li>
          <a  rel="noopener" target="_blank" href="{{collections.site_data_formatted.twitterLink | safe}}">Twitter</a>
        </li>  
        <li>
          <a  rel="noopener" target="_blank" href="{{collections.site_data_formatted.instagramLink | safe}}">Instagram</a>
        </li>
    </ul>
  </div>
</div>